#demo {
  width: 100% !important;
}
.next_backgroups {
  background-color: teal !important;
  border-radius: 20px;
  padding-left: 3px !important;
}
.prev_backgroups {
  background-color: teal !important;
  border-radius: 20px;
  padding-right: 3.5px !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top: -1px;
}
@media only screen and (max-width: 820px) {
  .carousel-item_img {
    height: 190px !important;
  }
}
@media only screen and (max-width: 700px) {
  .carousel-item_img {
    height: 180px !important;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-item_img {
    height: 170px !important;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-item_img {
    height: 155px !important;
  }
}
@media only screen and (max-width: 400px) {
  .carousel-item_img {
    height: 140px !important;
  }
}

@media only screen and (max-width: 300px) {
  .carousel-item_img {
    height: 120px !important;
  }
}

@media only screen and (max-width: 200px) {
  .carousel-item_img {
    height: 80px !important;
  }
}
