.modal-dialog {
  height: 50%;
  margin: auto;
}

.header {
  color: rgb(27, 27, 27);
  /* background-color: teal; */
  display: block;
}

textarea {
  /* border: none;
  overflow: auto; */

  resize: none; /*remove the resize handle on the bottom right*/
}
.textarea {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
}
.textarea:focus {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 4px;
  outline: none;
}
.modal-body {
  margin: auto;
}
.modal-footer-x {
  background-color: teal;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 4px;
  text-align: center;
  font-weight: 550;
  padding-top: 7px;
  color: white;
  margin-bottom: 20px;
}
input {
  color: #007bff;
}
.ml-3 {
  font-size: 15px;
  font-weight: 550;
  color: black;
}
.btn-outline-primary {
  background-color: teal;
  color: white;
}
.feedBackLeft {
  margin-top: 15px;
}
.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: 50px;
  float: left
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color:yellow;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}