.modal-dialog {
    height: 50%;
    width: 50%;
    margin: auto
}

.header {
    color: white;
    background-color: teal;
    display: block;
}

textarea {
    border: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    outline: 0px !important;
}
.textarea{
    margin-left: 20px;
}
.modal-body{
    margin: auto;
}
.modal-footer {
    margin: auto
}
input {
    color: #007bff
}
.ml-3{
    font-size: larger;
    color: black;
}