.roomDetail {
  margin-top: 15px;
}
.imageCorousel {
  width: 100%;
  height: 480px;
}
.titleDetail {
  margin-top: 20px;
  font-size: 30px;
}
.RoomDetailRight {
  background: rgb(216, 216, 216);
  height: 2000px;
}
.costDetail {
  font-size: 20px;
  font-weight: 700;
}
.acreageDetail {
  margin-left: 10px;
}
.twoDetail {
  font-size: 12px;
}
.quan_huyenDetail,
.provinceDetail {
  font-weight: 500;
  color: #3f3f3f;
  margin-left: 2px;
}
.quan_huyenDetail {
  margin-left: 10px;
}
.detailInfo {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.real_estate_characteristics {
  margin-top: 34px;
  margin-bottom: 22px;
}

.detailInformation {
  font-weight: 445;
}
.bold {
  font-weight: 560;
}
.reportnews {
  margin-top: 10px;
}
.header_right {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(25, 24, 46);
  color: white;
  padding: 5px;
}
.menu_zoom {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1199px) {
  .RoomDetailRight {
    display: none;
  }
}

.authorInfor {
  border: 1px solid rgb(206, 206, 206);
  padding: 20px;
  border-radius: 4px;
}
.imgAvatar {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  border: 1px solid teal;
}
.spanPhone {
  height: 40px;
  background-color: teal;
  border-radius: 4px;
  color: white;
  padding-top: 7.5px;
  font-weight: 550;
  margin-top: 10px;
}
#myInput {
  opacity: 0;
  margin-bottom: -50px;
}
.copyEmail {
  border: 1px solid teal;
  border-radius: 3px;
  height: 40px;
  padding-top: 5px;
  font-weight: 550;
  margin-top: 10px;
}
.userName {
  font-weight: 550;
  margin-top: 5px;
  margin-bottom: 25px;
}
